<h1>Listing tweets</h1>

<table>
  <tr>
    <th>User</th>
    <th>Twitter</th>
    <th>Text</th>
    <th>Tweet created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.user %></td>
    <td><%= tweet.twitter_id %></td>
    <td><%= tweet.text %></td>
    <td><%= tweet.tweet_created_at %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
