<h1>Listing shakes</h1>

<table>
  <tr>
    <th>Source user</th>
    <th>Dest user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shakes.each do |shake| %>
  <tr>
    <td><%= shake.source_user %></td>
    <td><%= shake.dest_user %></td>
    <td><%= link_to 'Show', shake %></td>
    <td><%= link_to 'Edit', edit_shake_path(shake) %></td>
    <td><%= link_to 'Destroy', shake, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shake', new_shake_path %>
