<h1>Stilling</h1>
<table width="100%" style="border: 1px solid gray;">
<% @users.each_with_index do |u,i| %>
  <tr class="<%= 'strong' if current_user.id == u.id %>">
    <td style="padding:5px;"><%= i+1 %></td>
    <td style="padding:5px;">
    	<img class="portrait" src="<%= u.image_url %>" />
    </td>
    <td style="padding:5px;">
    	<%= link_to u.name, u %>
    </td>
    <td style="padding:5px;"><%= u.points %> point</td>
  </tr>
<% end %>
</table>