<div class="profile big">
  <div class="name"><%= @user.name %></div>
  <div class="title"><%= @user.title %></div>
  <ul class="value-list">
    <li class="blue">
      <span class="value"><%= @user.points %></span>
      <span class="text">points</span>
    </li>
    <li class="green">
      <span class="value"><%= @user.awards.count %></span>
      <span class="text">mærker</span>
    </li>
    <li class="red">
      <span class="value"><%= @user.shakes.count %></span>
      <span class="text">QR-shakes</span>
    </li>
    <li class="twitter-blue">
      <span class="value"><%= @user.tweets.count %></span>
      <span class="text">Tweets</span>
    </li>
  </ul>
</div>