<div class="profile big">
  <div class="name"><%= @user.name %></div>
  <div class="title"><%= "@#{@user.twitter_name} - " unless @user.twitter_name.nil? %><%= @user.title %></div>
  <ul class="value-list">
    <li class="blue">
      <span class="value"><%= @user.points %></span>
      <span class="text">points</span>
    </li>
    <li class="green">
      <span class="value"><%= link_to @user.awards.count, awards_path(user_id: @user.id) %></span>
      <span class="text">mærker</span>
    </li>
    <li class="red">
      <span class="value"><%= link_to @user.shakes.count, shakes_path(user_id: @user.id) %></span>
      <span class="text">QR-shakes</span>
    </li>
    <li class="twitter-blue">
      <% unless @user.twitter_name.nil? %>
        <span class="value"><%= link_to @user.tweets.count, "http://twitter.com/#{@user.twitter_name}" %></span>
        <span class="text">Tweets</span>
      <% else %>
        <span class="value">-</span>
        <span class="text">Tweets*</span>
      <% end %>
    </li>
  </ul>

  <% if @user.id == current_user.id %>
    <% if @user.twitter_name.nil? %>
      <p>* Du skal angives din <%=link_to "twitter-profil", edit_user_path(@user.id) %>, før der kan gives point for tweets</p>
    <% end %>
  <% end %>

  <%= render 'position' %>

  <% if @user.id == current_user.id %>
    <%= link_to "Rediger profil", edit_user_path(@user) %>
  <% end %>
</div>