<div class="profile big">
  <div class="name"><%= @user.name %></div>
  <div class="centered"><%= link_to @user.title.humanize, lolcat_user_path(@user) %></div>
  <div class="title"><%= link_to "@#{@user.twitter_name}", "http://twitter.com/#{@user.twitter_name}" unless @user.twitter_name.blank? %></div>
  <ul class="value-list">
    <li class="blue">
      <span class="value"><%= link_to @user.points, scoreboard_users_path(user_id: @user.id) %></span>
      <span class="text">points</span>
    </li>
    <li class="green">
      <span class="value"><%= link_to @user.awards.count, awards_path(user_id: @user.id) %></span>
      <span class="text">mærker</span>
    </li>
    <li class="red">
      <span class="value"><%= link_to @user.shakes.count, shakes_path(user_id: @user.id) %></span>
      <span class="text">QR-shakes</span>
    </li>
    <li class="twitter-blue">
      <% unless @user.twitter_name.blank? %>
        <span class="value"><%= link_to @user.tweets.count, "http://twitter.com/#{@user.twitter_name}" %></span>
        <span class="text">Tweets</span>
      <% else %>
        <span class="value">-</span>
        <span class="text">Tweets*</span>
      <% end %>
    </li>
  </ul>

  <% if @user.twitter_name.blank? %>
    <p>* Du skal angive din twitter-profil, før der kan gives point for tweets</p>
  <% end %>

  <%= render 'position' %>

  <div class="centered big">
    <% if @user.id == current_user.id %>
      <%= link_to "Rediger profil", edit_user_path(@user) %>
    <% end %>
  </div>
</div>