<!DOCTYPE html>
<html>
<head>
  <title><%= @token.badge.name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="">
  <div style="margin: 0 auto">
    <div style="text-align: right; color: #aaa; margin-left: 15px; margin-bottom: 75px;"><%= @token.badge.name %></div>
    <div style="text-align: center; margin-bottom: 20px;"><%= image_tag "CD_LOGO_POS.png" %></div>
    <div style="text-align: center"><img class="padding" src="https://chart.googleapis.com/chart?cht=qr&chl=<%= url_encode new_scan_url({code:@token.code}) %>&chs=310x310&chld=L|0" /></div>
    <div style="text-align: center"><h2 class="centered">Scan og få point!</h2></div>
  </div>
</body>
</html>
