<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @award.user %>
</p>

<p>
  <b>Badge:</b>
  <%= @award.badge %>
</p>


<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
